/******************************************************
*                                                     *
*   Logo | Image | Hover - Particle for Gantry        *
*                                                     *
*   Purpose: This project adds a powerful image /     *
*            logo presentation particle to the        *
*            Gantry templating framework. The         *
*            component supports rollover and many     *
*            CSS3 hover and transition effects.       *
*                                                     *
*   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   *
*   Repository: https://git.io/fA9XW                  *
*   Homepage: https://gantryprojects.com              *
*                                                     *
******************************************************/

.of-hidden {
    overflow: hidden;
}

.g-logo-image-hover {

    position: relative;

    @keyframes fadeAnimation {
        0% { opacity: 1; }
        45% { opacity: 1; }
        55% { opacity:0; }
        100% { opacity:0; }
    }

    @-webkit-keyframes fadeAnimation {
        0% { opacity: 1; }
        45% { opacity: 1; }
        55% { opacity:0; }
        100% { opacity:0; }
    }

    @keyframes flashAnimation {
        0% { opacity: .4; }
        100% { opacity: 1; }
    }

    @-webkit-keyframes flashAnimation {
        0% { opacity: .4; }
        100% { opacity: 1; }
    }

    @keyframes pulseAnimation {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

    @-webkit-keyframes pulseAnimation {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }

    @keyframes pulseHalfAnimation {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }

    @-webkit-keyframes pulseHalfAnimation {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }

    img {
        display: inline-block;

        &.h1, &.h4, &.h7, &.h10,
        &.h13, &.h16, &.h19, &.h22,
        &.h25, &.h28, &.h31, &.h34,
        &.h37, &.h40, &.h43, &.h46,
        &.h49, &.h52, &.h55, &.h58,
        &.h61, &.h64, &.h67, &.h70,
        &.h73, &.h76, &.h79, &.h82,
        &.h85, &.h88, &.h91, &.h94,
        &.h97, &.h100, &.h103, &.h106 {
            &.front {
                -webkit-transition: 0.3s ease-in-out;
                -moz-transition: 0.3s ease-in-out;
                -o-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
            }
        }

        &.h2, &.h5, &.h8, &.h11,
        &.h14, &.h17, &.h20, &.h23,
        &.h26, &.h29, &.h32, &.h35,
        &.h38, &.h41, &.h44, &.h47,
        &.h50, &.h53, &.h56, &.h59,
        &.h62, &.h65, &.h68, &.h71,
        &.h74, &.h77, &.h80, &.h83,
        &.h86, &.h89, &.h92, &.h95,
        &.h98, &.h101, &.h104, &.h107 {
            &.front {
                -webkit-transition: 0.5s ease-in-out;
                -moz-transition: 0.5s ease-in-out;
                -o-transition: 0.5s ease-in-out;
                transition: 0.5s ease-in-out;
            }
        }

        &.h3, &.h6, &.h9, &.h12, 
        &.h15, &.h18, &.h21, &.h24,
        &.h27, &.h30, &.h33, &.h36,
        &.h39, &.h42, &.h45, &.h48,
        &.h51, &.h54, &.h57, &.h60,
        &.h63, &.h66, &.h69, &.h72,
        &.h75, &.h78, &.h81, &.h84,
        &.h87, &.h90, &.h93, &.h96,
        &.h99, &.h102, &.h105, &.h108 {
            &.front {
                -webkit-transition: 1s ease-in-out;
                -moz-transition: 1s ease-in-out;
                -o-transition: 1s ease-in-out;
                transition: 1s ease-in-out;
            }
        }

        &.h1, &.h2, &.h3,
        &.h4, &.h5, &.h6 {
            &.front {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }

        &.h7, &.h8, &.h9 {
            &.front {
                -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                -o-transform: scale(0.8);
                transform: scale(0.8);
            }
        }

        &.h10, &.h11, &.h12 {
            &.front {
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }
        }

        &.h13, &.h14, &.h15,
        &.h19, &.h20, &.h21 {
            &.front {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        &.h16, &.h17, &.h18,
        &.h22, &.h23, &.h24 {
            &.front {
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -o-transform: scale(1.3);
                transform: scale(1.3);
            }
        }

        &.h25, &.h26, &.h27,
        &.h28, &.h29, &.h30 {
            &.front {
                margin-left: 30px;
            }
        }

        &.h31, &.h32, &.h33,
        &.h34, &.h35, &.h36 {
            &.front {
                margin-left: -30px;
            }
        }

        &.h25, &.h26, &.h27,
        &.h31, &.h32, &.h33 {
            &.front {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }

        &.h28, &.h29, &.h30,
        &.h34, &.h35, &.h36 {
            &.front {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }

        &.h37, &.h38, &.h39 {
            &.front {
                -webkit-transform: rotate(5deg) scale(1.2);
                -moz-transform: rotate(5deg) scale(1.2);
                -o-transform: rotate(5deg) scale(1.2);
                transform: rotate(5deg) scale(1.2);
            }
        }

        &.h40, &.h41, &.h42 {
            &.front {
                -webkit-transform: rotate(15deg) scale(1.4);
                -moz-transform: rotate(15deg) scale(1.4);
                -o-transform: rotate(15deg) scale(1.4);
                transform: rotate(15deg) scale(1.4);
            }
        }

        &.h43, &.h44, &.h45 {
            &.front {
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }
        }

        &.h46, &.h47, &.h48 {
            &.front {
                -webkit-filter: blur(2px);
                filter: blur(2px);
            }
        }

        &.h49, &.h50, &.h51 {
            &.front {
                -webkit-filter: blur(1px);
                filter: blur(1px);
            }
        }

        &.h52, &.h53, &.h54,
        &.h55, &.h56, &.h57,
        &.h58, &.h59, &.h60 {
            &.front {
                -webkit-filter: blur(0);
                filter: blur(0);
            }
        }

        &.h61, &.h62, &.h63 {
            &.front {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }

        &.h64, &.h65, &.h66 {
            &.front {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }

        &.h67, &.h68, &.h69 {
            &.front {
                -webkit-filter: sepia(100%);
                filter: sepia(100%);
            }
        }

        &.h70, &.h71, &.h72 {
            &.front {
                -webkit-filter: sepia(0);
                filter: sepia(0);
            }
        }

        &.h73, &.h74, &.h75,
        &.h76, &.h77, &.h78,
        &.h79, &.h80, &.h81 {
            &.front {
                -webkit-filter: grayscale(0) blur(0);
                filter: grayscale(0) blur(0);
            }
        }

        &.h82, &.h83, &.h84 {
            &.front {
                -webkit-filter: grayscale(100%) blur(3px);
                filter: grayscale(100%) blur(3px);
            }
        }

        &.h85, &.h86, &.h87 {
            &.front {
                -webkit-filter: grayscale(100%) blur(2px);
                filter: grayscale(100%) blur(2px);
            }
        }

        &.h88, &.h89, &.h90 {
            &.front {
                -webkit-filter: grayscale(100%) blur(1px);
                filter: grayscale(100%) blur(1px);
            }
        }

        &.h91, &.h92, &.h93,
        &.h94, &.h95, &.h96,
        &.h97, &.h98, &.h99 {
            &.front {
                opacity: 1;
            }
        }

        &.h100, &.h101, &.h102 {
            &.front {
                opacity: 0.75;
            }
        }

        &.h103, &.h104, &.h105 {
            &.front {
                opacity: 0.5;
            }
        }

        &.h106, &.h107, &.h108 {
            &.front {
                opacity: 0.25;
            }
        }

        &.h115 {
            &.front {
                opacity: 1;
                -webkit-animation: flashAnimation 0.75s infinite ease-in-out;
                -o-animation: flashAnimation 0.75s infinite ease-in-out;
                -ms-animation: flashAnimation 0.75s infinite ease-in-out;
                -moz-animation: flashAnimation 0.75s infinite ease-in-out;
                animation: flashAnimation 0.75s infinite ease-in-out;
            }
        }

        &.h116 {
            &.front {
                opacity: 1;
                -webkit-animation: flashAnimation 1.5s infinite ease-in-out;
                -o-animation: flashAnimation 1.5s infinite ease-in-out;
                -ms-animation: flashAnimation 1.5s infinite ease-in-out;
                -moz-animation: flashAnimation 1.5s infinite ease-in-out;
                animation: flashAnimation 1.5s infinite ease-in-out;
            }
        }

        &.h117 {
            &.front {
                opacity: 1;
                -webkit-animation: flashAnimation 3s infinite ease-in-out;
                -o-animation: flashAnimation 3s infinite ease-in-out;
                -ms-animation: flashAnimation 3s infinite ease-in-out;
                -moz-animation: flashAnimation 3s infinite ease-in-out;
                animation: flashAnimation 3s infinite ease-in-out;
            }
        }

        &.h124 {
            &.front {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 1s infinite ease-in-out;
                -o-animation: pulseHalfAnimation 1s infinite ease-in-out;
                -ms-animation: pulseHalfAnimation 1s infinite ease-in-out;
                -moz-animation: pulseHalfAnimation 1s infinite ease-in-out;
                animation: pulseHalfAnimation 1s infinite ease-in-out;
            }
        }

        &.h125 {
            &.front {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 3s infinite ease-in-out;
                -o-animation: pulseHalfAnimation 3s infinite ease-in-out;
                -ms-animation: pulseHalfAnimation 3s infinite ease-in-out;
                -moz-animation: pulseHalfAnimation 3s infinite ease-in-out;
                animation: pulseHalfAnimation 3s infinite ease-in-out;
            }
        }

        &.h126 {
            &.front {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 5s infinite ease-in-out;
                -o-animation: pulseHalfAnimation 5s infinite ease-in-out;
                -ms-animation: pulseHalfAnimation 5s infinite ease-in-out;
                -moz-animation: pulseHalfAnimation 5s infinite ease-in-out;
                animation: pulseHalfAnimation 5s infinite ease-in-out;
            }
        }

        &.h1, &.h2, &.h3 {
            &.front:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
        }

        &.h4, &.h5, &.h6 {
            &.front:hover {
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -o-transform: scale(1.3);
                transform: scale(1.3);
            }
        }

        &.h7, &.h8, &.h9,
        &.h10, &.h11, &.h12,
        &.h13, &.h14, &.h15,
        &.h16, &.h17, &.h18 {
            &.front:hover {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }

        &.h19, &.h20, &.h21 {
            &.front:hover {
                -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                -o-transform: scale(0.8);
                transform: scale(0.8);
            }
        }

        &.h22, &.h23, &.h24 {
            &.front:hover {
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }
        }

        &.h25, &.h26, &.h27,
        &.h28, &.h29, &.h30,
        &.h31, &.h32, &.h33,
        &.h34, &.h35, &.h36 {
            &.front:hover {
                margin-left: 0;
            }
        }

        &.h37, &.h38, &.h39,
        &.h40, &.h41, &.h42 {
            &.front:hover {
                -webkit-transform: rotate(0) scale(1);
                -moz-transform: rotate(0) scale(1);
                -o-transform: rotate(0) scale(1);
                transform: rotate(0) scale(1);
            }
        }

        &.h43, &.h44, &.h45,
        &.h46, &.h47, &.h48,
        &.h49, &.h50, &.h51 {
            &.front:hover {
                -webkit-filter: blur(0);
                filter: blur(0);
            }
        }

        &.h52, &.h53, &.h54 {
            &.front:hover {
                -webkit-filter: blur(3px);
                filter: blur(3px);
            }
        } 

        &.h55, &.h56, &.h57 {
            &.front:hover {
                -webkit-filter: blur(2px);
                filter: blur(2px);
            }
        }  

        &.h58, &.h59, &.h60 {
            &.front:hover {
                -webkit-filter: blur(1px);
                filter: blur(1px);
            }
        } 

        &.h61, &.h62, &.h63 {
            &.front:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }

        &.h64, &.h65, &.h66 {
            &.front:hover {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }

        &.h67, &.h68, &.h69 {
            &.front:hover {
                -webkit-filter: sepia(0);
                filter: sepia(0);
            }
        }

        &.h70, &.h71, &.h72 {
            &.front:hover {
                -webkit-filter: sepia(100%);
                filter: sepia(100%);
            }
        }

        &.h73, &.h74, &.h75 {
            &.front:hover {
                -webkit-filter: grayscale(100%) blur(3px);
                filter: grayscale(100%) blur(3px);
            }
        }

        &.h76, &.h77, &.h78 {
            &.front:hover {
                -webkit-filter: grayscale(100%) blur(2px);
                filter: grayscale(100%) blur(2px);
            }
        }

        &.h79, &.h80, &.h81 {
            &.front:hover {
                -webkit-filter: grayscale(100%) blur(1px);
                filter: grayscale(100%) blur(1px);
            }
        }

        &.h82, &.h83, &.h84,
        &.h85, &.h86, &.h87,
        &.h88, &.h89, &.h90 {
            &.front:hover {
                -webkit-filter: grayscale(0) blur(0);
                filter: grayscale(0) blur(0);
            }
        }

        &.h91, &.h92, &.h93 {
            &.front:hover {
                opacity: 0.75;
            }
        }

        &.h94, &.h95, &.h96 {
            &.front:hover {
                opacity: 0.5;
            }
        }

        &.h97, &.h98, &.h99 {
            &.front:hover {
                opacity: 0.25;
            }
        }

        &.h100, &.h101, &.h102,
        &.h103, &.h104, &.h105,
        &.h106, &.h107, &.h108 {
            &.front:hover {
                opacity: 1;
            }
        }

        &.h109 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: flashAnimation 0.75s;
                -o-animation: flashAnimation 0.75s;
                -ms-animation: flashAnimation 0.75s;
                -moz-animation: flashAnimation 0.75s;
                animation: flashAnimation 0.75s;
            }
        }

        &.h110 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: flashAnimation 1.5s;
                -o-animation: flashAnimation 1.5s;
                -ms-animation: flashAnimation 1.5s;
                -moz-animation: flashAnimation 1.5s;
                animation: flashAnimation 1.5s;
            }
        }

        &.h111 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: flashAnimation 3s;
                -o-animation: flashAnimation 3s;
                -ms-animation: flashAnimation 3s;
                -moz-animation: flashAnimation 3s;
                animation: flashAnimation 3s;
            }
        }

        &.h112 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: flashAnimation 0.75s infinite ease-in-out;
                -o-animation: flashAnimation 0.75s infinite ease-in-out;
                -ms-animation: flashAnimation 0.75s infinite ease-in-out;
                -moz-animation: flashAnimation 0.75s infinite ease-in-out;
                animation: flashAnimation 0.75s infinite ease-in-out;
            }
        }

        &.h113 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: flashAnimation 1.5s infinite ease-in-out;
                -o-animation: flashAnimation 1.5s infinite ease-in-out;
                -ms-animation: flashAnimation 1.5s infinite ease-in-out;
                -moz-animation: flashAnimation 1.5s infinite ease-in-out;
                animation: flashAnimation 1.5s infinite ease-in-out;
            }
        }

        &.h114 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: flashAnimation 3s infinite ease-in-out;
                -o-animation: flashAnimation 3s infinite ease-in-out;
                -ms-animation: flashAnimation 3s infinite ease-in-out;
                -moz-animation: flashAnimation 3s infinite ease-in-out;
                animation: flashAnimation 3s infinite ease-in-out;
            }
        }

        &.h118 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 1s;
                -o-animation: pulseHalfAnimation 1s;
                -ms-animation: pulseHalfAnimation 1s;
                -moz-animation: pulseHalfAnimation 1s;
                animation: pulseHalfAnimation 1s;
            }
        }

        &.h119 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 3s;
                -o-animation: pulseHalfAnimation 3s;
                -ms-animation: pulseHalfAnimation 3s;
                -moz-animation: pulseHalfAnimation 3s;
                animation: pulseHalfAnimation 3s;
            }
        }

        &.h120 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 5s;
                -o-animation: pulseHalfAnimation 5s;
                -ms-animation: pulseHalfAnimation 5s;
                -moz-animation: pulseHalfAnimation 5s;
                animation: pulseHalfAnimation 5s;
            }
        }

        &.h121 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 1s infinite ease-in-out;
                -o-animation: pulseHalfAnimation 1s infinite ease-in-out;
                -ms-animation: pulseHalfAnimation 1s infinite ease-in-out;
                -moz-animation: pulseHalfAnimation 1s infinite ease-in-out;
                animation: pulseHalfAnimation 1s infinite ease-in-out;
            }
        }

        &.h122 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 3s infinite ease-in-out;
                -o-animation: pulseHalfAnimation 3s infinite ease-in-out;
                -ms-animation: pulseHalfAnimation 3s infinite ease-in-out;
                -moz-animation: pulseHalfAnimation 3s infinite ease-in-out;
                animation: pulseHalfAnimation 3s infinite ease-in-out;
            }
        }

        &.h123 {
            &.front:hover {
                opacity: 1;
                -webkit-animation: pulseHalfAnimation 5s infinite ease-in-out;
                -o-animation: pulseHalfAnimation 5s infinite ease-in-out;
                -ms-animation: pulseHalfAnimation 5s infinite ease-in-out;
                -moz-animation: pulseHalfAnimation 5s infinite ease-in-out;
                animation: pulseHalfAnimation 5s infinite ease-in-out;
            }
        }

        &.t2, &.t6, &.t10 {
            -webkit-transition: opacity 1s ease-in-out;
            -moz-transition: opacity 1s ease-in-out;
            -o-transition: opacity 1s ease-in-out;
            transition: opacity 1s ease-in-out;
        }

        &.t3, &.t7, &.t11 {
            -webkit-transition: opacity 0.75s ease-in-out;
            -moz-transition: opacity 0.75s ease-in-out;
            -o-transition: opacity 0.75s ease-in-out;
            transition: opacity 0.75s ease-in-out;
        }    

        &.t4, &.t8, &.t12 {
            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            -o-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;
        }

        &.t5, &.t9, &.t13 {
            -webkit-transition: opacity 0.25s ease-in-out;
            -moz-transition: opacity 0.25s ease-in-out;
            -o-transition: opacity 0.25s ease-in-out;
            transition: opacity 0.25s ease-in-out;
        }

        &.t26, &.t30, &.t34, &.t38, &.t42 {
            -webkit-transition: all 4s ease-in-out;
            -moz-transition: all 4s ease-in-out;
            -o-transition: all 4s ease-in-out;
            transition: all 4s ease-in-out;
        }

        &.t27, &.t31, &.t35, &.t39, &.t43 {
            -webkit-transition: all 2s ease-in-out;
            -moz-transition: all 2s ease-in-out;
            -o-transition: all 2s ease-in-out;
            transition: all 2s ease-in-out;
        }

        &.t28, &.t32, &.t36, &.t40, &.t44 {
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
        }

        &.t29, &.t33, &.t37, &.t41, &.t45 {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        &.t2, &.t3, &.t4, &.t5,
        &.t10, &.t11, &.t12, &.t13,
        &.t14, &.t15, &.t16, &.t17,
        &.t18, &.t19, &.t20, &.t21,
        &.t22, &.t23, &.t24, &.t25,
        &.t26, &.t27, &.t28, &.t29,
        &.t30, &.t31, &.t32, &.t33,
        &.t34, &.t35, &.t36, &.t37,
        &.t38, &.t39, &.t40, &.t41,
        &.t42, &.t43, &.t44, &.t45 {
            &.front {
                position:absolute;
            }
        }

        &.t2, &.t3, &.t4, &.t5,
        &.t6, &.t7, &.t8, &.t9 {
            &.front:hover {
                opacity:0;
            }
        }

        &.t6, &.t7, &.t8, &.t9 {
            &.front {
                position:absolute;
                z-index: 1;
            }
        }

        &.t6, &.t7, &.t8, &.t9 {
            &.back {
                opacity: 0;
            }
        }

        &.t6, &.t7, &.t8, &.t9 {
            &.front:hover + &.back {
				opacity: 1;
			}
        }

		&.t6.front:hover + img.t6.back, &.t7.front:hover + img.t7.back,
		&.t8.front:hover + img.t8.back,	&.t9.front:hover + img.t9.back{
			opacity: 1;
		}

        &.t10 {
            &.front {
                -webkit-animation: fadeAnimation 9s infinite ease-in-out alternate;
                -o-animation: fadeAnimation 9s infinite ease-in-out alternate;
                -ms-animation: fadeAnimation 9s infinite ease-in-out alternate;
                -moz-animation: fadeAnimation 9s infinite ease-in-out alternate;
                animation: fadeAnimation 9s infinite ease-in-out alternate;
            }
        }

        &.t11 {
            &.front {
                -webkit-animation: fadeAnimation 6.75s infinite ease-in-out alternate;
                -o-animation: fadeAnimation 6.75s infinite ease-in-out alternate;
                -ms-animation: fadeAnimation 6.75s infinite ease-in-out alternate;
                -moz-animation: fadeAnimation 6.75s infinite ease-in-out alternate;
                animation: fadeAnimation 6.75s infinite ease-in-out alternate;
            }
        }

        &.t12 {
            &.front {
                -webkit-animation: fadeAnimation 4.5s infinite ease-in-out alternate;
                -o-animation: fadeAnimation 4.5s infinite ease-in-out alternate;
                -ms-animation: fadeAnimation 4.5s infinite ease-in-out alternate;
                -moz-animation: fadeAnimation 4.5s infinite ease-in-out alternate;
                animation: fadeAnimation 4.5s infinite ease-in-out alternate;
            }
        }

        &.t13 {
            &.front {
                -webkit-animation: fadeAnimation 2.25s infinite ease-in-out alternate;
                -o-animation: fadeAnimation 2.25s infinite ease-in-out alternate;
                -ms-animation: fadeAnimation 2.25s infinite ease-in-out alternate;
                -moz-animation: fadeAnimation 2.25s infinite ease-in-out alternate;
                animation: fadeAnimation 2.25s infinite ease-in-out alternate;
            }
        }

        &.t14.front:hover, &.t20.front {
            -webkit-animation: pulseAnimation 5s infinite ease-in-out;
            -o-animation: pulseAnimation 5s infinite ease-in-out;
            -ms-animation: pulseAnimation 5s infinite ease-in-out;
            -moz-animation: pulseAnimation 5s infinite ease-in-out;
            animation: pulseAnimation 5s infinite ease-in-out;
        }

        &.t15.front:hover, &.t21.front {
            -webkit-animation: pulseAnimation 4s infinite ease-in-out;
            -o-animation: pulseAnimation 4s infinite ease-in-out;
            -ms-animation: pulseAnimation 4s infinite ease-in-out;
            -moz-animation: pulseAnimation 4s infinite ease-in-out;
            animation: pulseAnimation 4s infinite ease-in-out;
        }

        &.t16.front:hover, &.t22.front {
            -webkit-animation: pulseAnimation 3s infinite ease-in-out;
            -o-animation: pulseAnimation 3s infinite ease-in-out;
            -ms-animation: pulseAnimation 3s infinite ease-in-out;
            -moz-animation: pulseAnimation 3s infinite ease-in-out;
            animation: pulseAnimation 3s infinite ease-in-out;
        }

        &.t17.front:hover, &.t23.front {
            -webkit-animation: pulseAnimation 2s infinite ease-in-out;
            -o-animation: pulseAnimation 2s infinite ease-in-out;
            -ms-animation: pulseAnimation 2s infinite ease-in-out;
            -moz-animation: pulseAnimation 2s infinite ease-in-out;
            animation: pulseAnimation 2s infinite ease-in-out;
        }

        &.t18.front:hover, &.t24.front {
            -webkit-animation: pulseAnimation 1s infinite ease-in-out;
            -o-animation: pulseAnimation 1s infinite ease-in-out;
            -ms-animation: pulseAnimation 1s infinite ease-in-out;
            -moz-animation: pulseAnimation 1s infinite ease-in-out;
            animation: pulseAnimation 1s infinite ease-in-out;
        }

        &.t19.front:hover, &.t25.front {
            -webkit-animation: pulseAnimation 0.5s infinite ease-in-out;
            -o-animation: pulseAnimation 0.5s infinite ease-in-out;
            -ms-animation: pulseAnimation 0.5s infinite ease-in-out;
            -moz-animation: pulseAnimation 0.5s infinite ease-in-out;
            animation: pulseAnimation 0.5s infinite ease-in-out;
        }

        &.t26, &.t27, &.t28, &.t29,
        &.t30, &.t31, &.t32, &.t33,
        &.t34, &.t35, &.t36, &.t37,
        &.t38, &.t39, &.t40, &.t41 {
            &.back {
                -webkit-transform: scale(0,0);
                -moz-transform: scale(0,0);
                -o-transform: scale(0,0);
                transform: scale(0,0);
                opacity:0;
            }
        }

        &.t42, &.t43, &.t44, &.t45 {
            &.back {
                -webkit-transform: scale(1,0);
                -moz-transform: scale(1,0);
                -o-transform: scale(1,0);
                transform: scale(1,0);
                filter: alpha(opacity=0);
                opacity:0;
            }
        }
    }

    &:hover img {
        &.t26, &.t27,
        &.t28, &.t29,
        &.t30, &.t31,
        &.t32, &.t33,
        &.t34, &.t35,
        &.t36, &.t37,
        &.t38, &.t39,
        &.t40, &.t41 {
            &.back {
                opacity:1;
                -webkit-transform: scale(1,1);
                -moz-transform: scale(1,1);
                -o-transform: scale(1,1);
                transform: scale(1,1);
            }
        }

        &.t26.front, &.t27.front,
        &.t28.front, &.t29.front,
        &.t30.front, &.t31.front,
        &.t32.front, &.t33.front,
        &.t34.front, &.t35.front,
        &.t36.front, &.t37.front,
        &.t38.front, &.t39.front,
        &.t40.front, &.t41.front {
            &.front {
                -webkit-transform: scale(0,0);
                -moz-transform: scale(0,0);
                -o-transform: scale(0,0);
                transform: scale(0,0);
            }
        }

        &.t26, &.t27,
        &.t28, &.t29 {
            &.back {
                -webkit-transform-origin: top right;
                -moz-transform-origin: top right;
                -o-transform-origin: top right;
                transform-origin: top right;
            }
        }

        &.t26, &.t27,
        &.t28, &.t29 {
            &.front {
                -webkit-transform-origin: bottom left;
                -moz-transform-origin: bottom left;
                -o-transform-origin: bottom left;
                transform-origin: bottom left;
            }
        }

        &.t30, &.t31,
        &.t32, &.t33 {
            &.back {
                -webkit-transform-origin: top left;
                -moz-transform-origin: top left;
                -o-transform-origin: top left;
                transform-origin: top left;
            }
        }

        &.t30, &.t31,
        &.t32, &.t33 {
            &.front {
                -webkit-transform-origin: bottom right;
                -moz-transform-origin: bottom right;
                -o-transform-origin: bottom right;
                transform-origin: bottom right;
            }
        }

        &.t34, &.t35,
        &.t36, &.t37 {
            &.back {
                -webkit-transform-origin: bottom left;
                -moz-transform-origin: bottom left;
                -o-transform-origin: bottom left;
                transform-origin: bottom left;
            }
        }

        &.t34, &.t35,
        &.t36, &.t37 {
            &.front {
                -webkit-transform-origin: top right;
                -moz-transform-origin: top right;
                -o-transform-origin: top right;
                transform-origin: top right;
            }
        }

        &.t38, &.t39,
        &.t40, &.t41 {
            &.back {
                -webkit-transform-origin: bottom right;
                -moz-transform-origin: bottom right;
                -o-transform-origin: bottom right;
                transform-origin: bottom right;
            }
        }

        &.t38, &.t39,
        &.t40, &.t41 {
            &.front {
                -webkit-transform-origin: top left;
                -moz-transform-origin: top left;
                -o-transform-origin: top left;
                transform-origin: top left;
            }
        }

        &.t42, &.t43,
        &.t44, &.t45 {
            &.back {
                opacity:1;
                -webkit-transform: scale(1,1);
                -moz-transform: scale(1,1);
                -o-transform: scale(1,1);
                transform: scale(1,1);
            }
         }

        &.t42, &.t43,
        &.t44, &.t45 {
            &.front {
                filter: alpha(opacity=0);
                -webkit-transform: rotate(360deg) scale(0,0);
                -moz-transform: rotate(360deg) scale(0,0);
                -o-transform: rotate(360deg) scale(0,0);
                transform: rotate(360deg) scale(0,0);
            }
        }
    }
}